@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Word Counter Game!</h1>

<h3>Here's how this game works:</h3>
<ol>
  <li>Enter a word.</li>
  <li>Enter a sentence. </li>
  <li>I will count the number of times your word appears in your sentence.</li>
</ol>


<h3 class="alignCenter">Make sense? Click <a href="/wordcounter/new">HERE </a>to play!</h3>

<h3 class="alignCenter">Click <a href="/">HERE </a> to go back  instead.</h3>

