<h1>Word Counter Game!</h1>

<h2>The rules are simple:</h2>
<ol>
  <li>Enter a word.</li>
  <li>Enter a sentence. </li>
  <li>I will count the number of times your word appears in your sentence!</li>
</ol>


<h2><a href="/wordcounter/new">Click here to play!</a></h2>