<h1>Word Counter</h1>

<form action="/wordcounter" method="post">
  <label for="word">Enter your word</label>
  <input id="word" name="word" type="text">
  <label for="sentence">Enter your sentence</label>
  <input id="sentence" name="sentence" type="text">
  <button type="submit">Submit</button>
</form>

<p><a href="/">Back home</a></p>
