@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Let's play Word Counter!</h1>
<hr>
<form action="/wordcounter/result" method="post">
  <label for="word">Enter your word <em>(one word only)</em></label><br>
  <input id="word" name="word" type="text" required pattern="[A-Za-z]+"><br><br>
  <label for="sentence">Enter your sentence</label><br>
  <input id="sentence" name="sentence" type="text" required><br><br>
  <button type="submit">Submit</button>
</form>

<hr>

<h3 class="alignCenter"><a href="/">Back home</a></h3>
