@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Welcome to your game center!</h1>
<h2> Choose a game below to begin playing.</h2>
<h3><a href = "/wordcounter"><img src = "img/wordcounter.jpg"></a></h3>