<h1>Welcome to Word Counter!</h1>

<h2>The rules are simple:</h2>
<li>
  <ol>Enter a word.</ol>
  <ol>Enter a sentence. </ol>
  <ol>I will count the number of times your word appears in your sentence!</ol>
</li>

<h3>Click<a href = "/wordcounter/new">HERE</a> to begin the Word Counter game!</h3>