h1{
  text-align: center;
}
img{
  height: 200px;
  width: 300px;
  border-radius: 10px;
}
li{
  margin-top: 10px;
  font-size: 16px;
}
.alignCenter{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.results{
  list-style: none;
  border: solid black;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}
.input{
  font-weight: bold;
  font-style: italic;
  color: #c10b29;
}
#clear{
  margin-top:50px;
  margin-bottom: 50px;
}